
.dragviewport {
  overflow: hidden;
  border: solid 1px silver;
  display: block;
  position: relative;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 16px;
}

.dvzoomout {
  height: 125px;
}
.dvzoomin {
  height: 650px;
}

.dragsubstrate {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: auto;
}
