/*
 * This makes the devel trees look a little different so that we know
 * we are in a devel tree instead of the main tree.
 */
span.topbaroption { background-color: pink; }
#contentheader {  background-color: pink; }
.leftcell { background-color: pink; }
