td, th { 
  border: solid 0px #696;
  background-color: #F1FAF1;
}

span.devpagename {
  color: black;
  font-weight: bold;
  font-size: large;
}
#.menuheader, .submenuheader, .contenttitle  {
#  background-color: #060; 
#}
.leftcell {
  border: solid 2px black;
}
.leftcell, #searchrow form, #searchrow table, #searchrow table td {
  background-color: #dfe;
}
#ul.submenu, .submenuheader, #searchrow {
#  border-color: #060;
#}

#ul.menu, ul.submenu {
#  background-color: #CED;
#}

body { background-image: url("wallpaper0.jpg"); }

th { background-color: #E1EAE1; }

table { border: 0px; background-color: #9A9; }
table.nogrid { border: solid 1px #696; background-color:#9A9; } 

span.topbaroption { background-color:#E1EAE1; }
