BODY {background: #EEEEFF; margin-right: 0pt; }

A.sidebarbutton {
	color:#2F2FFF;
	font-family:sans-serif;
}	

SPAN.sidebarbutton {
	font-family:sans-serif;
}	

A.currentsidebarbutton {
	color:#0F0F3F;
	text-decoration:none;
	font-family:sans-serif;
}	

SPAN.currentsidebarbutton {
	color:#0F0F3F;
	text-decoration:none;
	font-family:sans-serif;
}	

H1 { color: #002032; font-weight: bold; font-size: 20pt; }
H2 { color: #002032; font-weight: bold; font-size: 16pt; }
H3 { color: #002032; font-weight: bold; font-size: 14pt; }
H4 { color: #002032; font-weight: bold; font-size: 12pt; }

PRE { margin-left: 20pt; }

