
BODY {background: #EEEEFF; margin-right: 0pt }

H1 { color: #002032; margin-left: 0pt;  font-weight: bold; font-size: 20pt }
H2 { color: #002032; margin-left: 12pt; font-weight: bold; font-size: 16pt }
H3 { color: #002032; margin-left: 24pt; font-weight: bold; font-size: 14pt }
H4 { color: #002032; margin-left: 36pt; font-weight: bold; font-size: 12pt }
P  { margin-left: 48pt; margin-right: 32pt; text-indent: 18pt; font-size: 10pt; text-align: justify }

A  { color: #004064; text-decoration: underline }
PRE { margin-left: 60pt; font-size: 8pt }
.comment { color: #005422; }
.machinename { color: #005454; }
