/* CSS file */

.failedStyle {
	color: red;
	textRollOverColor: red;
	textSelectedColor: red;
	themeColor: red;
}

.validStyle {
	color: green;
	textRollOverColor: green;
	textSelectedColor: green;
	themeColor: green;
}

.unknownStyle {
	color: grey;
	textRollOverColor: grey;
	textSelectedColor: grey;
	themeColor: grey;
}

.inprogressStyle {
	color: #FF7F00;
	textRollOverColor: #FF7F00;
	textSelectedColor: #FF7F00;
	themeColor: #FF7F00;
}